body {
    margin: 20pt;
    font-size: 12pt;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}

div.file_mention {
    display: block;
    padding: 10pt 10pt;
    border-width: 0 0 1px;
    border-style: solid;
    line-height: 150%;
}

div.file_mention:after {
    content: "";
    clear: both;
    display: block;
}

code {
    display: block;
    float: right;
}
