body {
    background-color: #ccd;
    color: #000;
    font-family: sans;
    margin-left: 2em;
    margin-right: 2em;
}

h1 {
    padding-bottom: 10px;
    border-top: 0.5em solid #88f;
    border-bottom: 0.5em solid #88f;
    padding: 1em;
    text-align: center;
}

h2 {
    margin-left: -0.5em;
}

h3 {
    margin-left: -0.5em;
}

h4 {
    border-left: 0.3em solid #88f;
    padding-left: 0.2em;
}

a {
    color: #88f;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    background-color: #eef;
    border-radius: 3px;
}

span.file {
    font-family: mono;
}

div {
    margin-top: 1em;
}

div.section {
    background-color: #fff;
    border-radius: 0.4em;
    border-top: 0.2em solid #ccf;
    border-bottom: 0.2em solid #ccf;
    padding: 0.5em;
}

pre {
    border-radius: 5px;
    padding-top: 1.5em;
    padding-left: 2em;
    border: 0.1em solid #88f;
    background-color: #eef;
}
