body {
    background-color: #ffe;
    color: #000;
    font-family: sans;
    max-width: 50em;
    margin-left: 2em;
}

h1 {
    padding-bottom: 10px;
    text-shadow: 2px 2px #ccc;
}

h2 {
    text-shadow: 2px 2px #ccc;
}

h3 {
    text-shadow: 2px 2px #ccc;
}

h4 {
    text-shadow: 1px 1px #ccc;
    border-left: 0.3em solid #cc8;
    padding-left: 0.2em;
}

a {
    color: #88f;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    background-color: #cc8;
    border-radius: 5px;
}

span.file {
    font-family: mono;
}

div {
    margin-top: 1em;
}

pre {
    background-color: #ddc;
    border-radius: 5px;
    padding-top: 1.5em;
    padding-left: 2em;
}
