body {
    background-color: #f6f6f6;
    color: #000;
    font-family: sans;
    margin: 0;
}

main {
    margin-left: 2em;
    margin-right: 2em;
}

header {
    padding: 0.5em 0.5em 0.5em 1.4em;
    background-color: cornflowerblue;
    color: white;
    font-size: 150%;
    font-weight: bold;
    box-shadow: 0 4px 10px -2px rgba(0,0,0,.2);
}

footer {
    padding: 0.5em 0.5em 0.5em 1.4em;
    color: #444;
    background-color: white;
    border-radius: 0.2em;
    padding: 0.8em;
    line-height: 1.2;
    text-align: center;
    margin-top: 1em;
}

h1 {
    padding-left: 0.2em;
    text-transform: uppercase;
    font-size: 120%;
}

.title {
    display: flex;
    align-items: center;
    padding-left: 0.4em;
}

.title img {
    width: 1.2em;
    height: 1.2em;
    stroke: cornflowerblue;
}

h2 {
    color: cornflowerblue;
    margin-block-start: 0;
    font-size: 120%;
}

h4 {
    border-left: 0.3em solid cornflowerblue;
    padding-left: 0.2em;
}

a {
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    background-color: #eef;
    border-radius: 3px;
}

span.file {
    font-family: mono;
}

div {
    margin-top: 1em;
}

section {
    background-color: white;
    border-radius: 0.2em;
    padding: 0.8em;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.05);
    line-height: 1.2;
    color: #444;
}

section pre {
    border-radius: 0.2em;
    padding: 0.8em;
    border: 0.1em solid lightgray;
    background-color: #f6f6f6;
    line-height: normal;
    color: black;
}
